{{>_global/head}}

<div class="panel margin-bottom-20">
	<div class="big">text big</div>
	<div class="strong">text strong</div>
	<div class="muted">text muted</div>
	<div class="">text normal</div>
	<div class="light">text light</div>
	<div class="extra-light">text extra light</div>
	<div class="ultra-light">text ultra light</div>
	<div class="separator"></div>
	<input class="btn primary" type="submit" value="Primary">
	<input class="btn greened" type="submit" value="Success">
	<input class="btn info" type="submit" value="Info">
	<input class="btn warning" type="submit" value="Warning">
	<input class="btn redded" type="submit" value="Danger">
	<input class="btn inactive" type="submit" value="Inactive">
	<div class="separator"></div>
	<input class="btn primary wide" type="submit" value="Wide">
	<input class="btn primary mini" type="submit" value="Mini">
	<input class="btn primary small" type="submit" value="Small">
	<div class="separator"></div>
	<input class="btn warning full" type="submit" value="Full">
</div>

<div class="panel">
	<div class="error">
	  <p class="error-msg"><br><span class="alert">Error:</span>
	    <br><br><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<span>
	  </p>
	  <div class="error-btn">
	    <input type="submit" class="btn primary" onclick="history.back();" value="Go back" />
	  </div>
	</div>
</div>

<div class="outer">
  <div class="middle">
    <article class="panel panel-auth">
      <div class="panel-heading panel-header">
        <h3 class="page-header auth-title">Login</h3>
      </div>
      <div class="separator"></div>
      <div class="panel-body panel-content">
          <form action="?client_id=cil86v32m0004nkcy955ka2w7&amp;redirect_uri=https://dev-platform.visualtalk.eu/auth.html&amp;response_type=token&#10;" method="post" accept-charset="UTF-8">
            <div class="form-group input">
              <label for="control-label">Email</label>
              <input title="Enter a valid email address" class="form-control" id="login-email" type="email" placeholder="Enter a valid email address" name="email" required="" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}" autofocus="autofocus">
            </div>
            <br>
            <div class="form-group input">
              <label for="control-label">Password</label>
              <input title="Password must contain 4 characters at least a number and a letter" class="form-control is-focused" id="login-password" type="password" name="password" required="" pattern="(?=.*\d)(?=.*[a-zA-Z]).{4,}">
            </div>
            <div class="form-actions">
              <input class="greened btn submit" type="submit" value="Submit">
              <a href="forgot?client_id=cil86v32m0004nkcy955ka2w7&amp;redirect_uri=https://dev-platform.visualtalk.eu/auth.html&amp;response_type=token&#10;" class="link action-link forgot">Forgot password?</a>
            </div>
          </form>
      </div>
    </article>
  </div>
</div>

<table id="email-table-container">
	<tr class="table-container-main"><!-- TEMPLATE // -->
		<td align="left" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" id="email-container" class="panel half-size">
				{{{body}}}
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				<tr> <!-- FIRST CONTENT // -->
					<td>
						<table border="0" cellpadding="0" cellspacing="0" width="100%" class="email-table-content">
							<tr>
								<td class="email-body-content">
									<table border="0" cellpadding="0" cellspacing="0">

										<tr>
											<td>
												<br>
											</td>
										</tr>

										<tr>
											<th class="email-section-title">
												<h3>You have been invited by name</h3>
											</th>
										</tr>

										<tr>
											<td>
												<br>
											</td>
										</tr>

										<tr>
											<td style="text-align: center;" class="email-text-content">
												<a  class="greened btn submit" href="{{data.platform}}invitation.html?invitation_token={{data.invitation_token}}">Join</a>
											</td>
										</tr>

										<tr>
											<td>
												<br>
											</td>
										</tr>

										<tr>
											<td>
												<br>
											</td>
										</tr>

										<tr>
											<td>
												<br>
											</td>
										</tr>
										<tr>
											<td style="text-align: center; font-size: 9px;" class="email-text-content copy-paste">
												<span>or copy and paste this url in your browser:</span>
												<br />
												<a href="{{data.platform}}invitation.html?invitation_token={{data.invitation_token}}">{{data.platform}}invitation.html?invitation_token={{data.invitation_token}}</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr> <!-- // END FIRST CONTENT -->
			</table>
			<table border="0" cellpadding="0" cellspacing="0" id="email-footer-container">
				<tr><!-- FOOTER // -->
					<td>
						<table border="0" cellpadding="0" cellspacing="0" width="100%" id="email-footer">
							<tr>
								<td align="center" class="email-footer-text">
									This email was sent to you automatically from <a href="{{data.platform}}">platform.com</a>
								</td>
							</tr>
						</table>
					</td>
				</tr><!-- // END FOOTER -->
			</table>
		</td>
	</tr><!-- // END TEMPLATE -->
</table>

<table id="email-table-container">
	<tr class="table-container-main"><!-- TEMPLATE // -->
		<td align="left" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" id="email-container" class="panel half-size">
				{{{body}}}
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				<tr> <!-- FIRST CONTENT // -->
					<td>
						<table border="0" cellpadding="0" cellspacing="0" width="100%" class="email-table-content">
							<tr>
								<td class="email-body-content">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<th class="email-section-title">
												<h3>Reset password request</h3>
											</th>
										</tr>

										<tr>
											<td>
												<br>
											</td>
										</tr>

										<tr>
											<td style="text-align: center;" class="email-text-content">
												Hi, we've received a request to reset your password.
											</td>
										</tr>

										<tr>
											<td style="text-align: center;" class="email-text-content">
												If you didn't initiate this request, or wish to dismiss it, simply ignore this email
											</td>
										</tr>

										<tr>
											<td>
												<br>
											</td>
										</tr>

										<tr>
											<td style="text-align: center;" class="email-text-content">
												<a  class="greened vt-btn vt-submit" href="{{data.platform}}resetpassword.html?reset_token={{data.reset_token}}">Reset</a>
											</td>
										</tr>

										<tr>
											<td>
												<br>
											</td>
										</tr>

										<tr>
											<td style="text-align: left; font-size: 9px;" class="email-text-content">
												<span>copy and paste this url in your browser:</span>
												<br />
												<a href="{{data.platform}}resetpassword.html?reset_token={{data.reset_token}}">{{data.platform}}resetpassword.html?reset_token={{data.reset_token}}</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr> <!-- // END FIRST CONTENT -->
			</table>
			<table border="0" cellpadding="0" cellspacing="0" id="email-footer-container">
				<tr><!-- FOOTER // -->
					<td>
						<table border="0" cellpadding="0" cellspacing="0" width="100%" id="email-footer">
							<tr>
								<td align="center" class="email-footer-text">
									This email was sent to you automatically from <a href="{{data.platform}}">platform.com</a>
								</td>
							</tr>
						</table>
					</td>
				</tr><!-- // END FOOTER -->
			</table>
		</td>
	</tr><!-- // END TEMPLATE -->
</table>


{{>_global/foot}}